.journey {
    background-color: var(--darkNature);
    color: var(--lightNeon);
    padding: 4rem 0;
    text-align: center;
  }
  
  .journey h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .journey p {
    margin: 2rem auto;
    max-width: 600px;
  }
  
  .button {
    background-color: var(--energy);
    color: var(--darkNature);
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #d1ec3c; /* Slightly darker yellow */
  }
  