.contact {
    background-color: var(--nature);
    color: var(--lightNeon);
    padding: 4rem 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .form {
    margin-top: 2rem;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--black);
  }
  
  .button {
    background-color: var(--energy);
    color: var(--nature);
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #d1ec3c;
  }
  